<template>
  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm
                @submit="submitLogin">
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-user" />
                    </CInputGroupText>
                    <CFormInput
                      placeholder="Email"
                      autocomplete="email"
                      required
                      v-model="form.email"
                    />
                  </CInputGroup>
                  <CInputGroup class="mb-4">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      type="password"
                      placeholder="Password"
                      autocomplete="current-password"
                      v-model="form.password"
                      required
                    />
                  </CInputGroup>
                  <CRow>
                    <CCol :xs="6">
                      <CButton type="submit" color="primary" class="px-4"> Login </CButton>
                    </CCol>
                    <CCol :xs="6" class="text-right">
                      <CButton @click="toResetpwd" color="link" class="px-0" disabled>
                        Forgot password?
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard class="text-white bg-primary py-5" style="width: 44%">
              <CCardBody class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <CButton @click="toRegister" color="light" variant="outline" class="mt-3">
                    Register Now!
                  </CButton>
                </div>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import Services from "@/core/Services";
import ApiService from "@/core/api.services";
import localStorage from "@/core/localStorage";
import Swal from "sweetalert2";

export default {
  name: 'Login',
  data: () => {
    return {
      form: {
        email: "",
        username: "",
        password: ""
      },
    }
  },
  methods: {
    submitLogin() {
        var mydata = {
          email: this.form.email,
          password: this.form.password,
        };

        Services.PostData(
          ApiService,
          "authentication/login",
          mydata,
          response => {
            if (response.data.message == "SUCCESS"){
              localStorage.setLocalStorage(
                "id_token",
                response.data.data.token
              );

              var toastMixin = Swal.mixin({
                toast: true,
                icon: 'success',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              });

              toastMixin.fire({
                animation: true,
                title: 'Berhasil login.'
              });
              this.$router.push({ name: "Dashboard" });
            }
          },
          err => {
            Swal.fire({
              title: "",
              text: err.response.data.error,
              icon: "error",
              heightAuto: true,
              timer: 1500
            });
            err;
          }
        );
    },
    toRegister(){
      this.$router.push({ name: "Register" });
    },
    toResetpwd(){
      // this.$router.push({ name: "Resetpwd" });
    }
  }
}
</script>
