<template>
  <div class="container-fluid bg-light d-flex justify-content-center">
    <CCard style="width: 28rem">
      <CCardImage class="rounded-circle shadow-4-strong mx-auto m-3" style="width: 10rem;" orientation="top" :src="data_profile.photo" />
        <div class="m-3">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" id="file" ref="file" class="custom-file-input" 
                accept="image/png, image/gif, image/jpeg"
                v-on:change="selectFile"/>
              <label class="custom-file-label">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="input-group-text" type="button" @click="submitUpdtPhoto">Update</button>
            </div>
          </div>
          <!-- <CInputGroup>
            <input
              type="file" id="file" ref="file"
              accept="image/png, image/gif, image/jpeg"
              v-on:change="selectFile"
              class=""
            />
            <CButton
              id="inputGroupFileAddon04"
              type="button"
              color="secondary"
              variant="outline"
              @click="submitUpdtPhoto"
            >
              Update
            </CButton>
          </CInputGroup> -->
        </div>
      <CCardBody>
        <!-- <CCardTitle>{{ data_profile.name }}</CCardTitle>
        <CTable hover>
          <CTableBody>
            <CTableRow>
              <CTableDataCell>Email</CTableDataCell>
              <CTableDataCell>:</CTableDataCell>
              <CTableDataCell>
                {{ data_profile.email }}
                <CButton :color="data_profile.is_email_verified ? 'success' : 'danger'" shape="rounded-pill" size="sm">
                  {{ data_profile.email ? 'Verif' : 'Not Verif'}}
                </CButton>
              </CTableDataCell>
            </CTableRow>
            <CTableRow>
              <CTableDataCell>Phone</CTableDataCell>
              <CTableDataCell>:</CTableDataCell>
              <CTableDataCell>{{ data_profile.phone }}</CTableDataCell>
            </CTableRow>
            <CTableRow>
              <CTableDataCell>Role</CTableDataCell>
              <CTableDataCell>:</CTableDataCell>
              <CTableDataCell>{{ data_profile.role_name }}</CTableDataCell>
            </CTableRow>
          </CTableBody>
        </CTable> -->

        <CForm
          class="row g-3 needs-validation"
        >
          <CCol :md="12" v-show="hide1">
            <CFormLabel for="validationDefault01">Name</CFormLabel>
            <CFormInput id="validationDefault01" v-model="data_profile.name" disabled/>
          </CCol>
          <CCol :md="12" v-show="hide2">
            <CFormLabel for="validationDefault05">Name</CFormLabel>
            <CFormInput id="validationDefault05" v-model="form.name"/>
          </CCol>
          <CCol :md="12">
            <CFormLabel for="validationDefault02">Email</CFormLabel>
            <CFormInput id="validationDefault02" :value="data_profile.email" disabled />
          </CCol>
          <CCol :md="12">
            <CFormLabel for="validationDefault03">Phone</CFormLabel>
            <CFormInput id="validationDefault03" :value="data_profile.phone" disabled />
          </CCol>
          <CCol :md="12">
            <CFormLabel for="validationDefault04">Role</CFormLabel>
            <CFormInput id="validationDefault04" :value="data_profile.role_name" disabled />
          </CCol>
          <CRow class="m-3">
            <CCol :xs="6">
              <CButton color="primary" type="submit" v-show="hide1" @click="handleSubmit">Edit</CButton>
              <CButton color="primary" type="submit" v-show="hide2" @click="submitUpdtName">Submit</CButton>
            </CCol>
            <CCol :xs="6" class="text-right">
              <CButton @click="toResetpwd" color="link" class="px-0">
                Forgot password?
              </CButton>
            </CCol>
          </CRow>
        </CForm>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
import Services from "@/core/Services";
import ApiService from "@/core/api.services";
import Swal from "sweetalert2";

export default {
  name: 'Profile',
  data: () => {
    return {
      data_profile: [],
      form: {
        name: ""
      },
      hide1:true,
      hide2:false,
      Images: []
    }
  },
  methods: {
    getDataProfile() {
        var mydata = {};
        Services.GetData(
          ApiService,
          "account/profile",
          mydata,
          response => {
            if (response.data.message == "SUCCESS") {
              this.data_profile = response.data.data;
              this.form.name = response.data.data.name;
            }else{
              Swal.fire({
                title: "",
                text: response.data.message,
                icon: "info",
                heightAuto: true,
                timer: 1500
              });
            }
          },
          err => {
            err;
          }
        );
    },

    submitUpdtName() {
        var mydata = {
          name: this.form.name
        };

        Services.UpdateData(
          ApiService,
          "account/profile",
          mydata,
          response => {
            if (response.data.message == "SUCCESS"){
              var toastMixin = Swal.mixin({
                toast: true,
                icon: 'success',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              });

              toastMixin.fire({
                animation: true,
                title: 'Berhasil update.'
              });

              this.hide1 = true;
              this.hide2 = false;

              this.load()
            }else{
              Swal.fire({
                title: "",
                text: response.data.message,
                icon: "info",
                heightAuto: true,
                timer: 1500
              });
            }
          },
          err => {
            err;
          }
        );
    },

    handleSubmit(){
      this.hide1 = false;
      this.hide2 = true;
    },

    selectFile() {
      this.Images = this.$refs.file.files[0];
    },

    submitUpdtPhoto(){
      let formData = new FormData();
      formData.append('photo', this.Images);

      Services.UpdateData(
          ApiService,
          "account/profile/photo",
          formData,
          response => {
            if (response.data.message == "SUCCESS"){
              var toastMixin = Swal.mixin({
                toast: true,
                icon: 'success',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              });

              toastMixin.fire({
                animation: true,
                title: 'Berhasil Update Photo.'
              });

            this.$router.go();
            this.load();

            }else{
              Swal.fire({
                title: "",
                text: response.data.message,
                icon: "info",
                heightAuto: true,
                timer: 1500
              });
            }
          },
          err => {
            Swal.fire({
              title: "",
              text: err.response.data.error,
              icon: "error",
              heightAuto: true,
              timer: 1500
            });
            err;
          }
        );
    },

    toResetpwd(){
      this.$router.push({ name: "Resetpwd" });
    },

    async load() {
      Promise.all([
        await setTimeout(() => this.getDataProfile(), 300)
      ]).then(function(results) {
        results;
      });
    },
  },
  mounted() {
    this.load();
  },
}
</script>
