<template>
    <div class="bg-light d-flex flex-row align-items-center">
      <CContainer>
        <CRow class="justify-content-center">
          <CCol :md="9" :lg="7" :xl="6">
            <CCard class="mx-4">
              <CCardBody class="p-4">
                <CForm>
                  <h1>Reset Password</h1>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      type="password"
                      placeholder="Password Old"
                      autocomplete="old-password"
                      v-model="form.password_old"
                    />
                  </CInputGroup>
                  <CInputGroup class="mb-4">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      type="password"
                      placeholder="Password New"
                      autocomplete="new-password"
                      v-model="form.password_new"
                    />
                  </CInputGroup>
                  <div class="d-grid">
                    <CButton color="success" @click="submitResetPwd">Update</CButton>
                  </div>
                </CForm>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </CContainer>
    </div>
</template>
  
<script>
import Services from "@/core/Services";
import ApiService from "@/core/api.services";
import Swal from "sweetalert2";

    export default {
    name: 'Resetpwd',
    data: () => {
        return {
            form: {
                password_old: "",
                password_new: ""
            },
        }
    },
    methods: {
        submitResetPwd() {
            var mydata = {
                password_old: this.form.password_old,
                password_new: this.form.password_new,
            };

            Services.PatchData(
            ApiService,
            "account/changepassword",
            mydata,
            response => {
                if (response.data.message == "SUCCESS"){
                    var toastMixin = Swal.mixin({
                        toast: true,
                        icon: 'success',
                        title: 'General Title',
                        animation: false,
                        position: 'top-right',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    });

                    toastMixin.fire({
                        animation: true,
                        title: 'Berhasil update password.'
                    });
                    // this.$router.push({ name: "Login" });
                    this.$router.push({ name: "Dashboard" });
                }else{
                    Swal.fire({
                        title: "",
                        text: response.data.message,
                        icon: "info",
                        heightAuto: true,
                        timer: 1500
                    });
                }
            },
            err => {
                err;
            }
            );
        },
    }
    }
</script>
  